* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header */
header {
    background-color: #007bff; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Style the navigation links */
nav ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

div{
    margin-top: 5px;
}
